<HTML>
  <head>
    <% include ../../../../partials/head.ejs %>
  </head>
  <body>
    <% include ./components/addProduct/index.ejs %>
    <% include ../../../../partials/foot.ejs %>
  </body>
</HTML>
