<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
    <div class="container text-center text-md-left">
    </div>
    <div class="text-center py-3">
    </div>
    <hr>
    <div class="container">
    <div class="row">
      <div class="col">
    <div class="footer-copyright py-3 text-center">
        <i class="fab fa-facebook-square fa-3x"></i>
        <i class="fab fa-instagram fa-3x"></i>
        <i class="fab fa-twitter-square fa-3x"></i>
    </div>
  </div>
  <div class="col">
<div class="footer-copyright py-3 text-center">
    © 2018 Copyright - Elan
</div>
</div>
<div class="col">
<div class="footer-copyright py-3 text-center">
  elandecorrental@gmail.com
</div>
</div>
  </div>
</div>
</footer>
