<div class="container">
  <h1 class="text-center" style="margin-bottom: 5%; margin-top: 5%;">Gallery</h1>
  <div class="row" style="margin-bottom: 5%;">
    <div class="col">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
    </div>
    <div class="col">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
    </div>
    <div class="col">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
    </div>
    <div class="col">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
    </div>
  </div>
  <div class="row" style="margin-bottom: 5%;">
    <div class="col">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
    </div>
    <div class="col">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
    </div>
    <div class="col">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
    </div>
    <div class="col">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
    </div>
  </div>
  <div class="row" style="margin-bottom: 5%;">
    <div class="col">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
    </div>
    <div class="col">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
    </div>
    <div class="col">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
    </div>
    <div class="col">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
    </div>
  </div>
  <div class="row" style="margin-bottom: 5%;">
    <div class="col">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
    </div>
    <div class="col">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
    </div>
    <div class="col">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
    </div>
    <div class="col">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
    </div>
  </div>
</div>
