<div class="container text-center">
  <h1 style="margin-bottom: 5%; margin-top: 5%;">What are you looking for?</h1>
  <div class="row" style="margin-bottom: 5%;">
    <div class="col">
      <div class="card">
        <a href="/collections/frames">
        <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Frames</p>
        </div>
      </div>
    </a>
    </div>
    <div class="col">
      <div class="card">
        <a href="/collections/desserts">
        <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Dessert Tables</p>
        </div>
      </div>
      </a>
    </div>
    </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <a href="/collections/photobooth">
        <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Photobooth</p>
        </div>
      </div>
      </a>
    </div>
    <div class="col">
      <div class="card">
        <a href="/collections/miscellaneous">
        <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Miscellaneous</p>
        </div>
      </div>
      </a>
    </div>
    </div>
    </div>
  </div>
</div>
