<div class="modal fade" id="checkoutAlert" tabindex="-1" role="dialog" aria-labelledby="checkoutAlertLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkoutAlertLabel">Checkout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        TELL THE SHOPPER THAT YOU'LL GET AN EMAIL ABOUT THEIR ORDER BLA BLA BLA
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action='/checkout' method="post">
          <button type="submit" class="btn btn-success">Checkout</button>
        </form>
      </div>
    </div>
  </div>
</div>
