<HTML>
  <head>
    <% include ../../partials/head.ejs %>
  </head>
  <body>
    <% include ../../components/navbar/index.ejs %>
    <% include ./components/gallery/index.ejs %>
    <% include ../../partials/foot.ejs %>
  </body>
</HTML>
