<HTML>
  <head>
    <% include ../../partials/head.ejs %>
  </head>
  <body style="background-color: rgb(236, 209, 223);">
    <% include ./components/header/index.ejs %>
    <% include ./components/navbar/index.ejs %>
    <% include ./components/jumbotron/index.ejs %>
    <% include ./components/navbarSecond/index.ejs %>
    <% include ./components/cards/index.ejs %>
    <% include ./components/footer/index.ejs %>
    <% include ../../partials/foot.ejs %>
  </body>
</HTML>
