<div class="container">
<div class="row">
<div class="col-sm-4">
  <div class="card" style="margin-top: 2%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);">
    <div class="card-body">
      <h5 class="card-title text-center" style="border-bottom: 5px solid rgb(246, 224, 234);">WHO ARE YOU?</h5>
      <p class="card-text">You are getting married. Or in charge of planning your bestie's bridal shower. Or hosting a baby shower. Whatever the case, you want it to be the event of your dreams! And for that, you need decor, lots of elegant and classy decor - here's where we come in!</p>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card" style="margin-top: 2%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);">
    <div class="card-body">
      <h5 class="card-title text-center" style="border-bottom: 5px solid rgb(246, 224, 234);">WHO ARE WE?</h5>
      <p class="card-text">We rent out modern and vintage decor pieces for all of your events. We source each of our pieces from just about anywhere we can find. If it's unique and cool, we got it!</p>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card" style="margin-top: 2%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);">
    <div class="card-body">
      <h5 class="card-title text-center" style="border-bottom: 5px solid rgb(246, 224, 234);">HOW CAN WE HELP?</h5>
      <p class="card-text">We do all things decor. Whether you need some elegant centerpieces, things to hang on the wall, or serving plates, we have it. And we have much more! We will help keep your tables looking fancy, your walls looking beautiful, and your cupcakes looking delictible.</p>
    </div>
  </div>
</div>
</div>
</div>

<style>

</style>
