<HTML>
  <head>
    <% include ../../partials/head.ejs %>
  </head>
  <body>
    <% include ../../partials/foot.ejs %>
      
    <% include ../../components/navbar/index.ejs %>
      
    <h1 class="text-center">title</h1>
  </body>
</HTML>
