<div class="jumbotron text-center">
  <h1 class="display-4">ELAN</h1>
  <hr class="my-4">
  <p class="lead">Decor & Design</p>

</div>

<style>
  .jumbotron {
    margin: 0;
    background-color: white;
  }
</style>
